<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Humanity</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- Styles -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/testimonial.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  </head>

  <body>
    <div class="header container text-center">
      <a href="index.html">
        <img src="{{ url_for('static', filename='img/HH.png') }}" width="200" alt="logo" class="img-responsive center-block">
      </a>
    </div>

    <div class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="selected"><a href="resource.html">Resources</a></li>
          <li><a href="volunteer.html">Volunteer</a></li>
          <li><a href="donate.html">Donate</a></li>
        </ul>
      </div>
    </div>

    <div class="divider col-sm-12 col-xs-12 col-md-12">
      <div class="header-text"> Local <span>Resources</span></div>
    </div>

    <section id="blog-isotope" class="subpage bg-white">
      <div class="overlay-light">
        <div id="content" class="container">
          <div class="posts">
            {% for resource in data %}
              <div class="post item col-md-3">
                <div class="panel">
                  <div class="panel-header">
                    <a href="{{ resource.url }}" target="_blank">
                      <img src="{{ url_for('static', filename=resource.image) }}" class="img-responsive" alt="{{ resource.name }} logo" width = 400>
                    </a>
                  </div>
                  <div class="panel-body">
                    <h3 class="post-title">
                      <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
                    </h3>
                    <p>{{ resource.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="footer-content container text-center">
        <h4>Great Love for Humanity</h4>
        <div class="project-info mt-3">
          <p><strong>Chaminade University of Honolulu</strong></p>
          <p>CS401 – Software Engineering • Spring 2025</p>
          <p>Team: The Hunger Helpers</p>
          <p>&copy; 2025 Hunger Helpers. All rights reserved.</p>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav-hover.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
      $('.testimonials-slider').bxSlider({
        slideWidth: 800,
        minSlides: 1,
        maxSlides: 1,
        slideMargin: 32,
        auto: true,
        autoControls: true
      });
    </script>
  </body>
</html>
